//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper
{
    width: 100%;
     display: flex;
     flex-wrap: wrap;
}

header
{
    background-color: #C8C6FA;
}

section.visual
{
    background-color: #5995DA;
}

section.coding
{
    background-color: #B2D6FF;
}

section.our-team
{
    background-color: #EAEDF0;
}

section.services
{
    background-color: #D6E9FE;
}

section.testimonial
{
    background-color: #F5CF8E;
}

section.panel-contact
{
    background-color: #F09A9D;
}

section.locations
{
    background-color: #C8C6FA;
}

footer
{
    background-color: brown;
}

#main > section
{

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  #wrapper {
    width: 960px;
    margin: 0 auto;
  }

    #wrapper > header, footer, div
    {
        width: 100%;
    }

}






