@font-face {
    font-family: 'Archer';
    /*a name to be used later*/
    src: url('../fonts/Archer Semibold.otf');
    /*URL to font*/
    font-weight: 600;
    font-style: normal
}

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

a {
    text-decoration: none;
}

/*header*/

#header {
    padding: 29px 0 25px;

}

.header-menu {
    text-align: right;
}

.btn {
    display: inline-block;
    border-radius: 19px;
    background-color: #96d019;
    border-radius: 19px;
    color: white;
    font: 700 14px/18px GothamRounded, Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 13px 16px;
    border-width: 4px;

    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    -ms-transform: all .25s ease-in;
    transition: all .25s ease-in;
}

.btn:hover {
    background-color: #75a214;
    border-color: #6f9912;
}

.header-logo {
    float: left;
}

.navbar-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: none;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font: 600 18px/22px Archer, serif;
}

.navbar-nav > li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin: 0 0 -1px 63px;
}

.navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-nav > li > a {
    display: block;
    position: relative;
    color: #000;
    padding: 0 0 21px;
}

.navbar-nav > li > a:hover:before {
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #1e6ab4;
}

.navbar-nav > li > a:hover {
    color: #1e6ab4;
}

.navbar-nav>li>a:before {
    content: '';
    position: absolute;
}


/*end header*/

section.visual {
    background-color: #5995DA;
}

section.coding {
    background-color: #B2D6FF;
}

section.our-team {
    background-color: #EAEDF0;
}

section.services {
    background-color: #D6E9FE;
}

section.testimonial {
    background-color: #F5CF8E;
}

section.panel-contact {
    background-color: #F09A9D;
}

section.locations {
    background-color: #C8C6FA;
}

footer {
    background-color: brown;
}

#main > section {}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {}

/* Desktop Styles */

@media only screen and (min-width: 1241px) {
    #wrapper {
        width: 1244px;
        margin: 0 auto;
    }
}
